{% extends "layout.html" %}
  
{% block title %}Plant{% endblock %}
{% block lead %}This award is designed to celebrate exemplary work done in plant synthetic biology.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Plant Synthetic Biology</h4>
      <p>This award is designed to celebrate exemplary work done in plant synthetic biology. Did you build a project in a plant chassis? Did you submit plant parts to the Registry? This award could also be given to a team working with algae or another eukaryotic photosynthetic chassis. Show us what you made and remember to adhere to iGEM safety guidelines!</p>
      <p><i>Note: Photosynthetic bacteria cannot be considered for this prize.</i></p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/special-prizes">Special Prizes page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/marburg/plant">2024 Marburg</a></li>
      <li><a href="https://2024.igem.wiki/scu-china/plant">2024 SCU-China</a></li>
      <li><a href="https://2023.igem.wiki/marburg/plant">2023 Marburg</a></li>
      <li><a href="https://2023.igem.wiki/zju-china/plant">2023 ZJU-China</a></li>
      <li><a href="https://2023.igem.wiki/tsinghua-tfl/plant">2023 Tsinghua-TFL</a></li>
    </ul>
  </div>
</div>

{% endblock %}
