{% extends "layout.html" %}
  
{% block title %}Sustainability{% endblock %}
{% block lead %}Describe how you have evaluated your project ideas against one or more of the SDGs.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Sustainable Development Impact</h4>
      <p>The Sustainable Development Goals (SDGs) are a call to action to integrally address global environmental, social, and economic challenges. iGEM teams can answer this call with this prize. Demonstrate how you have evaluated your project ideas against one or more of the SDGs, how you’ve consulted with SDG stakeholders, and how you’ve begun to form collaborations with other iGEM teams around the SDGs. You’re encouraged to look back at previous iGEM projects to evaluate them against the SDGs, and build upon them.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/special-prizes">Special Prizes page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/hangzhou-biox/sustainable">2024 Hangzhou-BioX</a></li>
      <li><a href="https://2024.igem.wiki/uzurich/sustainable">2024 UZurich</a></li>
      <li><a href="https://2024.igem.wiki/ulink-sz/sustainable">2024 Ulink-SZ</a></li>
      <li><a href="https://2024.igem.wiki/gec-beijing/sustainable">2024 GEC-Beijing</a></li>
      <li><a href="https://2023.igem.wiki/thessaloniki/sustainable">2023 Thessaloniki</a></li>
    </ul>
  </div>
</div>

{% endblock %}
