.header-display {
  background-image: url(/assets/images/main.jpg);
  zoom: 0.8;


  padding-left:10rem;
  height: 100%;
}

.text-1 {
  padding-top:8rem;  
  color:white;

  display: flex;
  justify-content: space-between;
}

.title {
  width:80%;
  white-space: pre-wrap;
}

.title h1{
  font-weight: 400;
  font-size: 5rem;
  font-style: italic;
}

.title p {  
  font-size: 2em;
  line-height: 1.3rem;
}

.side-text p{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 2rem;

}

.title button {
  padding:1.4rem 2.4rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  background-color: black;
  color:white;
  border: none;
  border-radius: 4px;
}

.sale span {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  display: block;


}
.sale strong {
  font-size: 2.6rem;
  font-family: poppins;
  font-weight: 600;
}

.sale{
  color:white;
  background-color: black;
  padding:3rem 2.4rem;
  width:25%;
  font-size: 1.6rem;
  line-height: 3rem;

}

.sale button {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top:2rem;
  padding:1rem 2rem;
}

i {
  margin-right: 1rem;
}


/* plus */
.plus-display {
  display: grid;
  margin:10rem 10rem;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10rem;
  text-align: center;

  font-size: 1.1rem;
  line-height: 1.7rem;
}
.plus img {
  width:5.3em
}

.plus strong {
  display: block;
  margin:1.4rem 0;
  font-size:1.3rem;
}

/* VIDEO-DISPLAY */
.video-display {
  background: #F3F4F6;  
  padding:8rem 10rem;

  display: grid;
  grid-template-columns: 50% auto;
  column-gap: 3rem;

}


.text h2 {
  font-size: 2.5rem;
  line-height: 2.6rem;
  margin: 1.4rem 0rem;
  font-weight: 600;
}

.text p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.text button {
  background-color: black;
  color:white;
  border: none;
  margin-top:2.3rem;
  font-size: 0.8rem;
  padding:1.2rem 1.7rem;

}

.video-display .video {
  background:no-repeat url(/assets/images/Home3-Video.jpg);

  position: relative;

}



.link-video {
  background-color: transparent;
  border:none;
  display: block;
  position: absolute;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  cursor:pointer;
}


/* STYLERS */
.stylers-display {
  text-align: center;
  margin: 6rem 0;

}

.stylers-display h3 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin:2rem;
}

.stylers{  
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 4rem;
  margin:2rem 10rem;
  height:28rem;
  
  
}

.styler {
  background-size: contain;
  position: relative;
}

.charles-back {
  background:url(/assets/images/Styler-01.jpg) no-repeat;
  background-size: cover;
}

.ayesha-back{
  background: url(/assets/images/Styler-02.jpg) no-repeat;
  background-size: cover;
}

.alen-back {
  background: url(/assets/images/Styler-03.jpg) no-repeat;
  
  background-size: cover;
}

.s-name {
  background-color: black;
  color:white;
  position:absolute;
  bottom:-5%;

  padding:0.8rem 0rem;
  left:11%;
  right:11%;
  
  text-align: center;
} 
.s-name p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.s-name span {
  font-size: 0.7rem;
  color:rgb(190, 190, 190)
}

/* SALE */

.sale-display {
  margin:13rem 10rem;
  align-items: center;

  background:no-repeat url(/assets/images/Promo-Banner-Image.jpg);
  background-size: cover;
  height:fit-content;
}

.text-price {

  padding:6rem 5rem;
  height:90%;
  row-gap: 1rem;
  grid-template-rows: 25% 50% 25%;
  width: 53%;
}

.text-price span {
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
  align-self: end;
  margin:1.2rem 0;
}

.text-price p {
  font-size: 2.3rem;
  font-weight: 500;
  height:fit-content;
  line-height: 3rem;
  margin:2rem 0;
}

.text-price strong {
  font-weight: 700;
  line-height:3rem;
  font-size: 2.4rem;
}

.text-price button{
  color:white;
  background-color: black;
    
  height:fit-content;
  width:fit-content;
  padding:1rem 1rem;
}



/* lookbook */

.lookbook {
  font:left;
}