.main {
  background-image: url('/assets/destination.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.text {
  text-align: center;
}

.text h1 {
  font-size: 4rem;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.862);
  margin: 0;
}

.text span {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.862);
  padding: 2rem;
}

/* carousel */

.container {
  position: absolute;
  top: 540px;
  display: flex;
}

.card {
  cursor: pointer;
  background-size: cover;
  display: flex;
  height: 500px;
  width: 320px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.main .title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 1.3rem;
}

.bar {
  position: absolute;
  top: 72px;
  left: 20px;
  height: 1px;
  width: 270px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 270px;
  transition: 0.9s ease-out;
}

/* card design */
.card-africa {
  background-image: url(https://images.pexels.com/photos/3889891/pexels-photo-3889891.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.card-europe {
  background-image: url(https://images.pexels.com/photos/705782/pexels-photo-705782.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.card-asia {
  background-image: url(https://images.pexels.com/photos/3204950/pexels-photo-3204950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.card-north-america {
  background-image: url(https://images.pexels.com/photos/910307/pexels-photo-910307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.card-south-america {
  background-image: url(https://images.pexels.com/photos/17606174/pexels-photo-17606174.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

/* destinations */
.tours-div {
  margin-top: 400px;
  padding: 3rem 4rem;
}

.row:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

.all-tours {
  display: flex;
  flex-direction: column;
}

.row h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 10px 0;
}

.row p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.725);
  margin: 15px 0;
}

.row h6 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.tours {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 90px;
  column-gap: 50px;
}

.row {
  padding: 5rem 0;
}

/* TOURS CARD */

.tour-card {
  cursor: pointer;
  background-size: cover;
  display: flex;
  height: 560px;
  width: 310px;
  background-image: url('../../assets/africa-tour-1.jpg');
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  position: relative;
}

.tour-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

/* tour info */
.tour-info {
  background-color: #00000093;
  position: absolute;
  bottom: 0%;
  width: calc(100% - 32px);
  padding: 1.2rem 1rem 0.4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.tour-description {
  display: flex;
  padding-top: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

.tour-info span {
  display: block;
  color: rgba(255, 255, 255, 0.805);
}

.prices {
  display: flex;
  flex-direction: column;
}

strong {
  font-size: 1.2rem;
}

.prices strong {
  font-size: 1.3rem;
}

.tour-info h6 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-tour {
  align-self: center;
  margin-top: 1rem;
  padding: 0.9rem 2rem;
  border-radius: 18px;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.85);
  color: #f2f2f2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn-tour:hover {
  box-shadow: 0 8px 19px rgba(0, 0, 0, 0.626);
  color: #ffffff;
}

.more {
  font-weight: 600;
}
