/* STYLING */
/* LISTS */
/* LIST-01 */
/* LIST-02 */
/* LIST-03 */

/* IMG */
/* IMG-FORMULA */

/* DIVS WITH IMAGES */
/* div-img */
/* div-img formula  <- has a formula */

/* TABLES */
/* table-div */





@import "tailwindcss";

@theme {
  --color-header: #D2E0E4
}

.screen{
  display: flex;
  flex-direction: row;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



 /* paragraphs */
 .title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 4rem;
 }

 .paragraph {
  font-size: 1.1rem;
  padding-top: 1.2rem;
 }

 .sub-title{
  margin: 2.3rem 0 0.4rem;
  font-weight: 600;
  font-size: 1.8rem;
 }




/* sidebar */

/* .sideNavbar { */
  /* position:fixed; */
/* }/ */


/* .sideNavbar h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4.0rem;
}

.sideNavbarContents {
  display: flex;
  flex-direction: column;
  gap:0.9rem;
  width:200px;
  font-size: 1.1rem;

}

.sideNavbarContents h6 {
  border-left:2px solid darkblue;
  padding-left:10px
  
}

.render {
  padding: 7px 20px;
  border-radius: 0px 20px 20px 20px;
  transition: background-color 0.3s ease;
}

.render:hover {
  background-color: #f3b0ff82;
} */




/* =========================== */
/* lists */
/* do lists types */
/* 
.list-01 li {
  padding: 0.7rem 1rem;
}



.list-01 {
  @apply list-decimal mb-2;
  padding: 1.1rem 0rem;
  font-size: 1.1rem;
  margin-left: 3rem;
} */

/* 
/* list-02 */
/* .list-02 > li {
  position: relative;
  padding-left: 2em;
  margin-bottom: 0.5em;
  counter-increment: step;
}

.list-02 {
  padding: 0.9em 1.0em;
  counter-reset: step 0;
}

.list-02 > li::before {
  content: "(" counter(step) ") ";
  font-weight: bold;
  position: absolute;
  left: 0;
}


.list-03 > li::before {
  content: '\26AB';
  font-size: 8px;
  
}

.list-03 > li {
  align-items: center;
  display: flex;
  gap:10px;
  flex-direction: row;
}

 */



/* talbes */

/* table th {
  background-color: #F3F4F6;
  border: 1px solid black; */
  /* padding: 15px 0px;
}

td {
  border: 1px solid black;
  padding:10px 0px;
}

caption {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

header {
  z-index: 1;
} */ */


/* img */
/* 
.div-img span {
  margin-top:1.7rem;
}

.div-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;

  width: 90%;
}

.div-img img {
  width: 80%;
}

.div-img-formula {
  padding: 3rem 0rem;
  gap: 1rem;
  font-size: 1.1rem;

  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-img-formula img {
  width: 80%;
  align-self: center;
}


/* tables */

.table-div{
  overflow-x: auto;
  margin-bottom: 1.5rem; /* Tailwind's mb-6 = 24px = 1.5rem */
  text-align: center;
}

caption {
  padding: 2rem 0 0.5rem;
}

table {
  min-width: 100%;
  border: 1px solid #D1D5DB; /* Tailwind's gray-300 */
  font-size: 0.875rem; /* Tailwind's text-sm = 14px */
  border-collapse: collapse;
} */