@import "tailwindcss";

@theme {
  --color-header: #D2E0E4
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



 /* paragraphs */
 .title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 4rem;
 }

 .paragraph {
  font-size: 1.1rem;
  margin: 1.5rem 0 0rem;
 }

 .sub-title{
  margin: 2.3rem 0 0.4rem;
  font-weight: 600;
  font-size: 1.5rem;
 }


 /* lists */
ol {
  @apply list-decimal ml-6 mb-2 text-base leading-relaxed;
  padding: 1rem 0rem;
  font-size: 1.1rem;
}

li {
  padding: 0.5rem 0rem;
}

/* sidebar */

.sideNavbar {
  position:fixed;
}


.sideNavbar h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4.0rem;
}

.sideNavbarContents {
  display: flex;
  flex-direction: column;
  gap:0.9rem;
  width:200px;
  font-size: 1.1rem;

}

.sideNavbarContents h6 {
  border-left:2px solid darkblue;
  padding-left:10px
  
}

.render {
  padding: 7px 20px;
  border-radius: 0px 20px 20px 20px;
  transition: background-color 0.3s ease;
}

.render:hover {
  background-color: #f3b0ff82;
}


/* lists */
.nested-ul > li::before {
  content: '\26AB';
  font-size: 8px;
  
}

.nested-ul > li {
  align-items: center;
  display: flex;
  gap:10px;
  flex-direction: row;
}


.braces-li{
  list-style: none;
  counter-increment: item;
  position: relative;
  padding-left: 2em;
}

.braces-li::before {
  content: "(" counter(item) ") ";
  position: absolute;
  left: 0;
  font-weight: bold;
}


.braces-li li {
  padding-left: 2em;
  margin-bottom: 0.5em;
}




/* talbes */

table th {
  background-color: #F3F4F6;
  border: 1px solid black;
  padding: 15px 0px;
}

td {
  border: 1px solid black;
  padding:10px 0px;
}

caption {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

header {
  z-index: 1;
}