{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams and document it on this page.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #3</h4>
      <p>Make a useful contribution for future iGEM teams and document it on this page.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/medals">Medals page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>What Should this Page Contain?</h2>
    <hr />
    <p>Teams must document their contribution and explain why their effort is a contribution to fellow iGEMers. There is no single definition of what a contribution should be. We invite teams to be creative and generous in the knowledge, data or tools they may provide to the community.</p>
    <p>A few examples of contributions are:</p>
    <ul>
      <li>Creating a new BioBrick part or significantly improving an existing one in the iGEM Registry.</li>
      <li>Developing software, tools, or resources that can considerably assist future iGEM teams.</li>
      <li>Sharing optimized protocols, experimental techniques, or methodologies.</li>
      <li>Any other contributions that provide a clear benefit to future iGEM teams.</li>
    </ul>
  </div>
</div>

{% endblock %}
