{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Entrepreneurship</h4>
      <p>The Best Entrepreneurship Prize recognizes exceptional effort to build a business case and commercialize an iGEM project. This award can go to a new project, or to a previous project that a team has aimed to commercialize. Successful teams will (1) construct a business plan based on customer needs and expert knowledge on feasibility and (2) create a minimum viable product.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/special-prizes">Special Prizes page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/utoronto/entrepreneurship">2024 UToronto</a></li>
      <li><a href="https://2024.igem.wiki/ionis-paris/entrepreneurship">2024 Ionis-Paris</a></li>
      <li><a href="https://2023.igem.wiki/leiden/entrepreneurship">2023 Leiden</a></li>
    </ul>
  </div>
</div>

{% endblock %}
