{% extends "layout.html" %}
  
{% block title %}Safety and Security{% endblock %}
{% block lead %}Detail the safety and security considerations of your project, adressing potential risks and outlining the measures taken to mitigate them.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Safety and Security Award</h4>
      <p>Synthetic biology will need to be used safely and securely if local people are to solve local problems all around the world. The Safety and Security Committee is challenging teams to apply biological engineering approaches to manage risks associated with synthetic biology. Can you take the next step in progress towards knowledge, understanding, and tools that will make the use of synthetic biology safer and more secure?</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/special-prizes">Special Prizes page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What Should this Page Contain?</h2>
    <hr />
    <p>Describe all potential safety and security risks associated with your project, including:</p>
    <ul>
      <li>Biological risks (e.g., pathogenicity, toxicity, environmental impact).</li>
      <li>Chemical risks (e.g., handling hazardous materials).</li>
      <li>Physical risks (e.g., equipment safety).</li>
      <li>Security risks (e.g., potential misuse of technology).</li>
    </ul>
    <p>Explain how you are addressing these risks and implementing safety measures.</p>
    <p>Detail any safety features incorporated into your project design, such as:</p>
    <ul>
      <li>Choice of a non-pathogenic chassis.</li>
      <li>Selection of parts that minimize harm to humans, animals, or plants;</li>
      <li>Substitution of safer materials in experiments;</li>
      <li>Implementation of "kill-switch" mechanisms or other safety controls.</li>
    </ul>
    <p>Explain the rationale behind these design choices.</p>
    <div class="bd-callout bd-callout-info">
      <p>Ensure that your project adheres to all safety requirements outlined in the <a href="https://responsibility.igem.org/safety-policies">Safety Policies page</a>.</p>
    </div>
  </div>

  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/ucalgary/safety">2024 UCalgary</a></li>
      <li><a href="https://2023.igem.wiki/basis-china/safety">2023 BASIS-China</a></li>
      <li><a href="https://2023.igem.wiki/edinburgh/safety">2023 Edinburgh</a></li>
      <li><a href="https://2023.igem.wiki/epfl/safety">2023 EPFL</a></li>
      <li><a href="https://2023.igem.wiki/nmu-china/safety">2023 NMU-China</a></li>
    </ul>
  </div>
</div>

{% endblock %}
