{% extends "layout.html" %}
  
{% block title %}Software{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Software Tool</h4>
      <p>Regardless of what the topic is, iGEM projects often create or adapt computational tools to move their overall project forward. Because they are born out of a direct practical need, these software tools (or new computational methods) can even prove surprisingly useful for others. Without necessarily being big or complex, they can make the crucial difference to a project's success. This award tries to find and honor such "nuggets" of computational work. To be eligible, your software has to be documented and made available under an OSI-approved open-source license.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/special-prizes">Special Prizes page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What Should this Page Contain?</h2>
    <hr />
    <p>This page should aim to make your software accessible and understandable to a wide audience, supplementing the detailed technical documentation available on the repository.</p>
    <ul>
      <li>Provide a clear and concise overview of the software's purpose and functionality.</li>
      <li>Use non-technical language to make it accessible to a broad audience.</li>
      <li>Create step-by-step instructions on how to use the software.</li>
      <li>Include screenshots and visual aids to guide users.</li>
      <li>Explain how to integrate the software with other tools or platforms.</li>
      <li>Explain the key design choices made during the software's development.</li>
      <li>Discuss any trade-offs or compromises made during the design process.</li>
      <li>Provide a high-level overview of the software's architecture.</li>
      <li>Provide clear instructions on how to deploy and install the software.</li>
      <li>Provide an overview of the software's API, if applicable.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/vilnius-lithuania/software">2024 Vilnius-Lithuania</a></li>
      <li><a href="https://2023.igem.wiki/fudan/software">2023 Fudan</a></li>
    </ul>
  </div>
</div>

{% endblock %}
